body {
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    background-image:linear-gradient(to right ,rebeccapurple ,black, rebeccapurple,black, rebeccapurple);
    margin: 1px;
    padding: 0;
}

#GreenMoon {
    width:300px;
    clip-path: circle(50%);
    position: relative;
}

#nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

#nav-bar li {
    margin-right: 20px;
    text-decoration:none;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
}

.nav-link:hover {
    color: #ccc;
}

.nav-link:active {
    color: #fff;
    background-color: #555;
    padding: 5px;
    border-radius: 5px;
}

#home {
    background-color: grey;
    padding: 2em;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

#projects {
    justify-content: center;
    width: 400px;
    height: auto;
}

#about, #contact,#what-I-Do,#journey {
    background-color: grey;
    border-radius:0px  50px 50px ;
    align-items: center;
    justify-content: space-between;
    margin:30px;
    padding: 2em;
}

h1, h2 {
    margin-top: 0;
}


#nav-bar {
    position: sticky;
    top: 0;
    background-image:linear-gradient(to right ,rebeccapurple ,black, rebeccapurple,black, rebeccapurple);
    color: #fff;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#socials, #programming-languages {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#socials li, #programming-languages li {
    margin-right: 20px;
}

#socials a, #programming-languages a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
}

#socials a:hover, #programming-languages a:hover {
    color: #ccc;
}

#socials a:active, #programming-languages a:active {
    color: #fff;
    background-color: #555;
    padding: 5px;
    border-radius: 5px;
}
<<<<<<< HEAD

#what-I-Do ,#journey{
    color: white
=======
#myProjects {
    display: grid;
    justify-content:space-between;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Creates flexible columns */
    gap: 20px; /* Adds space between the grid items */
}
    

#placeholder {
    width:100%;
    height: auto;
    clip-path: circle();
>>>>>>> 11884132e699552d404071a4bb2b62fd039d5145
}